# Compiled files
*.out
*.o
*.obj
*.exe

# Build folders
/build/
/bin/
/debug/
/release/

# OS files
.DS_Store
Thumbs.db

# Bỏ qua các file tạm của LaTeX
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.out